{% extends "encyclopedia/layout.html" %}

{% block title %}
    edit-{{ name }}
{% endblock %}

{% block body %}
<p style="color: red;">{{ error }}</p>
<form action="{% url 'edit' name=name %}" method="post">
    {% csrf_token %}
    <h2>{{ name }}</h2>
    
    <label>content of the page:</label>
    <br>
    <textarea id="w3review" name="content" placeholder="write the content in markdown format" style="height:300px; " rows="4" cols="80">{{ content }}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>
      
{% endblock %}